<!-- <div>
    <h1>{{pageTitle}}</h1>
    <d10x-evaluation></d10x-evaluation>
</div> -->

<mat-toolbar color="primary">D10X</mat-toolbar>
<!--<d10x-welcome></d10x-welcome>-->
<div class='container'>
  <router-outlet></router-outlet>
</div> 
    <!-- <nav class='navbar navbar-expand navbar-light bg-light'>
        <a class='navbar-brand'>{{pageTitle}}</a>
        <ul class='nav nav-pills'>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/skill']">Evaluation</a></li>
        </ul>
    </nav>
    -->